@{
    ViewData["Title"] = "Home Page";
}

<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url('https://wallpapers.com/images/featured/kanye-west-saint-pablo-doziweiliyjwtmox.jpg')">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" style="max-width: 300px; height: auto;" src="https://media.licdn.com/dms/image/D5603AQGleR2U-igb-g/profile-displayphoto-shrink_800_800/0/1703790939158?e=2147483647&v=beta&t=fw_1dJAFh81Ge3SoB1WwvSznQSP-gexNfgaHOU_oBRs" alt="..." />
        <h1 class="text-white fs-3 fw-bolder" style="font-size: 70px !important;">Javi's Hobbies</h1>
        <p class="text-white-50 mb-0" style="font-size: 40px !important;">The Mexican of the IS Core</p>
    </div>
</header>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>What is my biggest hobby?</h2>
                <p class="lead">Music and Songwriting!!!</p>
                <p class="mb-0">Music is for sure my biggest passion of all time. I love music and I listen to it every single day. I started songwriting when I was 14 and have written over 100 songs. Songwriting is my therapy and my way of getting ideas out of my mind and putting them into words. I love writting about my experiences, my trials, my aspirations, and about God. </p>
            </div>
        </div>
    </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" style="background-image: url('https://i.pinimg.com/736x/42/42/66/424266d84367cfd8bcbe3e10b20c911a.jpg')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>What are some other hobbies this guy has?</h2>
                <p class="lead">There is a lot you don't know my guy</p>
                <p class="mb-0">I love the gym, sports, graphic design, reading self development boks, listening to podcasts, and just hanging out with people and going to parties and having fun.</p>
            </div>
        </div>
    </div>
</section>